/* Fonts */

/* Variables */

/* Mixins */
@mixin hide-text{
    overflow:hidden;
    text-indent:-900em;
    display:block;
}

@mixin floated-list{
    margin:0;
	padding:0;
	li{
		padding:0;
		list-style:none;
		float:left;
	}
}

@mixin clearfix{
	zoom: 1;
	&:before, &:after { 
		content: '.'; 
		display: block; 
		overflow: hidden; 
		visibility: hidden; 
		font-size: 0; 
		line-height: 0; 
		width: 0; height: 0; 
	} 
	&:after{ 
		clear: both; 
	}
}
