/* Fonts */

/* Variables */
$gutter: 1em;

$text: #333;

$primary: #556BB0;
$secondary: #CB2D50;

$error: #D0011B;
$warning: #FFD400;
$success: #61D001;
$info: #4D95E9;

$bg-grey: #F7F7F5;
$border-grey: #C4C4C0;

/* Mixins */
@mixin hide-text{
    overflow:hidden;
    text-indent:-900em;
    display:block;
}

@mixin floated-list{
    margin:0;
	padding:0;
	li{
		padding:0;
		list-style:none;
		float:left;
	}
}

@mixin clearfix{
	zoom: 1;
	&:before, &:after { 
		content: '.'; 
		display: block; 
		overflow: hidden; 
		visibility: hidden; 
		font-size: 0; 
		line-height: 0; 
		width: 0; height: 0; 
	} 
	&:after{ 
		clear: both; 
	}
}
