@import "base";
@import "reset";

/* Page =================================================== */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	width:100%;
	min-width:300px;
}

#wrapper{
    width:100%;
    overflow:hidden;
    margin-top:50px;
    #wrapper-inner{
        transition: transform 350ms;
        transform: translateX(0);
    }
}

.nav-open{
    #header-main {
        #main-nav{
            .nav-caller{
                transform: rotate(180deg);
                .line{
                    background-color:#555;
                    &:first-child{
                        transform: rotate(-45deg) translate3d(-4px, 1px, 0);
                        width:15px;
                    }
                    &:last-child{
                        transform: rotate(45deg) translate3d(-4px, -1px, 0);
                        width:15px;
                    }
                }
            }
            .sliding-nav{
                transform: translateX(0);
            }
        }
    }
    #wrapper{
        #wrapper-inner{
            transform: translateX(-100px);
        }
    }
}

/* Typography =================================================== */
h1, h2, h3, h4, h5, h6 {
    line-height:100%;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

p {

}

a {
    transition: color 150ms, background-color 150ms;
	&:hover{ }
	&:active{ }
	&:visited{ }
}

img{
    max-width:100%;
    height:auto;
}

/* Forms =================================================== */
.field{
    margin-bottom:1em;
}

input,
textarea{
    font:inherit;
    width:100%;
}

input[type="checkbox"],
input[type="radio"]{
    width:auto;
}

textarea{
    height:10em;
}

.field-validation-error{
    border-radius: 0 0 5px 5px;
    font-size: 0.8em;
    display: block;
    font-weight: normal;
    color:#fff;
    background-color: #d32e2e;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border: 1px solid #a53939;
}

/* Buttons =================================================== */
button,
[class^="button"],
[class*=" button"]{
    transition: color 150ms, background-color 150ms;
    border:none;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    line-height:100%;
    .loading-indicator {
        transform: scale(3);
        transition: all 250ms;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9px;
        margin-left: -12px;
    }
    .text {
        transition: all 250ms;
        display: block;
    }
    &.loading {
        background:#ccc;
        .text {
            transform: scale(0.5);
            opacity: 0;
        }
        .loading-indicator {
            transform: scale(1);
            opacity: 1;
        }
    }
}

/* Tables =================================================== */

/* Layout =================================================== */
.container{
	width: 100%;
    max-width:1200px;
	position: relative;
	zoom:1;
    margin:0 auto;
}

[class^="column"],
[class*=" column"]{
    width:100%;
    display: inline;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
    margin-bottom:2em;
    &.pad{
        padding-top:1em;
        padding-bottom:1em;
    }
	&.nopad{
		padding-left: 0;
		padding-right: 0;
	}
    &.nomar{
        margin-bottom:0;
    }
}
.column-s-2-1{
    width:50%;
}
.column-s-3-1{
    width:33.333%;
}
.column-s-3-2{
    width:66.666%;
}

.left {
    float: left;
    margin: 0 1em 1em 0;
}
.right {
    float: right;
    margin: 0 0 1em 1em;
}
.centre{
    text-align:center;
}

.responsive-iframe{
    position: relative;
    padding: 27.5% 0;
    margin:1em 0;
    iframe{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }
}

/* Header =================================================== */
#header-main {
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    width:100%;
	.logo{
        float:left;
	}
	#main-nav{
        float:right;
        .nav-caller{
            transition: all 250ms;
            position:relative;
            z-index:2;
            display:block;
            padding: 10px;
            margin-right:2px;
            text-decoration:none;
            .line{
                transition: all 250ms;
                display:block;
                width:22px;
                height:3px;
                background:#555;
                margin:5px 0;
            }
            &:hover{
                .line{
                    background:#555;
                }
            }
        }
		.sliding-nav {
            transform: translateX(100%);
            transition: transform 350ms;
            background:#222;
            overflow:hidden;
            height:100vh;
            width:100vw;
            margin:0;
            padding:0;
            position:absolute;
            top:100%;
            right:0;
            li {
				a {
                    display:block;
                    padding:1em;
                    text-decoration:none;
                    border-bottom:1px solid #555;
                    color:#fff;
                    &:hover{
                    }
				}
                &.on{
                    a{
                    }
                }
            }
        }
	}
}

/* Main =================================================== */
#main{
    @include clearfix;
}

/* Footer =================================================== */
#footer-main {
    
}

/* Pages =================================================== */
