@media only screen and (min-width: 600px), screen and (max-device-width: 680px) and (min-aspect-ratio: 13/9) {
    /* Page =================================================== */
    .nav-open{
        #wrapper{
            #wrapper-inner{
                transform: none;
            }
        }
    }

    /* Typography =================================================== */

    /* Forms =================================================== */

    /* Buttons =================================================== */

    /* Tables =================================================== */

    /* Layout =================================================== */
    .column-m-1-1{
        width:100.0%;
    }
    .column-m-2-1{
        width:50.0%;
    }
    .column-m-3-1{
        width:33.333%;
    }
    .column-m-3-2{
        width:66.666%;
    }
    .column-m-4-1{
        width:25.0%;
    }

    /* Header =================================================== */
    #header-main {
        #main-nav{
            .sliding-nav{
                max-width:350px;
            }
        }
    }

    /* Main =================================================== */

    /* Footer =================================================== */

    /* Pages =================================================== */
}
