<header id="header">
  <div class="row">
    <div class="column pad--0">
      <a href="/" class="logo"><img src="/img/logo.png"/></a>
      <nav id="header__nav">
        <a href="#" class="nav-caller">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </a>
        <div id="header__nav__inner">
          <ul id="header__nav__list">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>