<header id="header-main">
    <div class="container">
        <a href="/" class="logo"><img src="/img/logo.png" /></a>
        <nav id="main-nav">
            <a href="#" class="nav-caller"><span class="icon-menu"></span></a>
            <ul class="sliding-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>